@font-face {
    font-family: 'sigmar';
    src: url(fonts/sigmar.ttf) format('truetype');
}

@font-face {
    font-family: 'castle';
    src: url(fonts/castle.woff2) format('woff2');
}

@font-face {
    font-family: 'mecha';
    src: url(fonts/mecha.otf) format('opentype');
}

#title{
    font-size: 52px;
    font-family: 'sigmar';
    color: white;
    text-align: center;

}

body{
    margin: 12px;
    background-color: rgb(50,50,50);
}